<div class="text-layout">

<h1>{{ nombre}}</h1>
<h1>{{ valor | number}}</h1>
<h1>{{ obj | json}}</h1>

<button pButton
        type="button" 
        label="Cambiar Nombre"
        icon="pi pi-check" 
        iconPos="left"
        class="p-button-help"
        (click)="mostrarNombre()">
</button>

<p-card [header]="nombre | titlecase"
        subheader="Esto es un subheader">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus debitis explicabo perferendis impedit quibusdam, soluta saepe doloremque porro esse quae illum mollitia! Nisi tenetur qui soluta assumenda impedit deleniti sed.

</p-card>

</div>